@import "./variables.module.scss";

@mixin element {
    @include FLEX(row, center, center, 0);
    // border: 1px solid $neutral-400;
    border: none;
    background: transparent;
    padding: 4px;
    resize: none;
    width: 100%;
    font-size: 1rem;
    color: $primary-800;
    outline: none;
    overflow: hidden;
}

@mixin button {
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
}

.metaInfoContainer {
    @include FLEX(column, center, center, 8px);
    width: 100%;

    & > input,
    textarea {
        border: none;
        padding: 8px 16px;
        width: 100%;
        font-size: 1rem;
        background-color: $white;
        outline: none;
        resize: none;
        box-shadow: 0px 1px 2px $transparent;

        &:placeholder {
            font-weight: light;
            font-size: 1rem;
        }
    }
}

.addContainer {
    @include FLEX(row, center, center, 8px);
}

.addButton {
    @include button;
    font-size: 1rem;
    background-color: $action-400;
    font-weight: bold;
    cursor: pointer;
    color: $white;
    padding: 4px 8px;
    box-shadow: 0px 1px 2px $transparent;
    transition: background 0.15s ease-out;

    &:hover {
        background-color: $action-500;
    }
}

.container {
    @include FLEX(column, center, center, 8px);
    max-width: 640px;
    width: 100%;
    margin: 24px auto;
    padding: 80px 0;
}

.inputContainer {
    @include FLEX(column, flex-start, flex-end, 0);
    width: 100%;

    & > select {
        border: none;
        background-color: transparent;
        color: $primary-300;
        font-weight: bold;
        font-size: 1rem;
    }
}

.input-h1 {
    @include element;
    font-size: 1.4rem;
    font-weight: 600;
}

.input-h2 {
    @include element;
    font-size: 1.3rem;
}

.input-h3 {
    @include element;
    font-size: 1.15rem;
}

.input-p {
    @include element;
    font-size: 1rem;
    color: $neutral-800;
    line-height: 32px;
}

.imageElement {
    @include FLEX(column, center, center, 4px);
    margin: 28px 0;
    width: 100%;
    position: relative;

    & > header {
        position: absolute;
        top: -28px;
        right: 0;

        & > button {
            @include button;
            color: $alert-400;
        }
    }

    & > img {
        width: 100%;
        aspect-ratio: 16/9;
        background-color: $primary-200;
        border: none;
    }

    & > input {
        width: 100%;
        padding: 4px;
        outline: none;
    }
}
