@import "./variables.module.scss";

@mixin element {
    @include FLEX(row, center, center, 0);
    // border: 1px solid $neutral-400;
    border: none;
    background: transparent;
    padding: 4px;
    resize: none;
    width: 100%;
    font-size: 1rem;
    color: $primary-800;
    outline: none;
    overflow: hidden;
}

@mixin button {
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
}

.container {
    @include FLEX(column, center, center, 8px);
    max-width: 640px;
    width: 100%;
    margin: 24px auto;
    padding: 80px 0;
}

.inputContainer {
    @include FLEX(column, flex-start, flex-end, 0);
    width: 100%;

    & > select {
        border: none;
        background-color: transparent;
        color: $primary-300;
        font-weight: bold;
        font-size: 1rem;
    }
}

.input-h1 {
    @include element;
    font-size: 1.4rem;
    font-weight: 600;
}

.input-h2 {
    @include element;
    font-size: 1.3rem;
}

.input-h3 {
    @include element;
    font-size: 1.15rem;
}

.input-p {
    @include element;
    font-size: 1rem;
    color: $neutral-800;
    line-height: 32px;
}

.imageElement {
    @include FLEX(column, center, center, 4px);
    margin: 24px 0;
    width: 100%;
    position: relative;

    & > header {
        position: absolute;
        top: -28px;
        right: 0;

        & > button {
            @include button;
        }
    }

    & > img {
        width: 100%;
        aspect-ratio: 16/9;
        background-color: $primary-200;
        border: none;
    }

    & > input {
        width: 100%;
        padding: 4px;
        outline: none;
    }
}
