@import "./variables.module.scss";

.container {
    @include FLEX(row, flex-start, flex-start, 8px);
    flex-wrap: wrap;
}

.header {
    background-color: $white;
    padding: 16px 0;
    box-shadow: 0px 1px 2px $transparent;
    margin: 0 0 24px 0;

    h1 {
        @include FLEX(column, center, center);
        color: $primary-600;
        font-weight: bolder;
        font-style: italic;
    }
}

.homePost {
    @include FLEX(column, center, center);
    user-select: none;
    background-color: $white;
    width: 100%;
    max-width: 300px;
    height: 120px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px $transparent;
    transition: all 0.2s ease-out;
    cursor: pointer;
    border: 1px solid $neutral-400;

    h2 {
        font-size: 1rem;
        font-weight: 500;
    }

    &:hover {
        background-color: $primary-500;
        border-color: $white;

        h2 {
            font-size: 1rem;
            color: $white;
        }
    }
}
