@import "./variables.module.scss";

.header {
    @include FLEX(row, center, center, 0);
    background-color: $primary-600;
    padding: 24px 0;
    box-shadow: 0 1px 2px $transparent;

    a {
        font-size: 1.6rem;
        color: $neutral-100;
        font-weight: 800;
        font-style: italic;
        text-decoration: underline;
    }
}

.container {
    width: 100%;
    padding: 48px 0px;
    max-width: 800px !important;
    margin: 0 auto;

    img {
        width: 100%;
        max-width: 600px;
        aspect-ratio: 16/9;
        display: block;
        margin: 24px auto;
    }

    p {
        margin-bottom: 36px;
        line-height: 1.7rem;
        font-size: 1.05rem;
    }

    h1 {
        font-size: 1.4rem;
        text-align: center;
        color: $primary-700;
    }

    h2 {
        color: $primary-600;
        margin-top: 56px;
        font-weight: 600;
    }

    h3 {
        font-weight: 500;
        color: $primary-500;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 48px 16px;

        h1 {
            font-size: 1.1rem;
        }

        p {
            font-size: 0.85rem;
        }

        h2 {
            font-size: 1.15rem;
        }

        h3 {
            font-size: 1.05rem;
        }
    }
}
